@tailwind base;
@tailwind components;
@tailwind utilities;
.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100rem;
}

.form {
  margin-top: 5rem !important;
  width: 42rem;
  margin-top: 4rem !important;
  margin-left: 4rem !important;
}

.left {
  background: linear-gradient(
      53deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(13, 129, 222, 0) 35%,
      rgba(110, 74, 208, 1) 100%
    ),
    url("../public/assets/hero1.jpg");
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}
.left-1 {
  background: linear-gradient(
      53deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(13, 129, 222, 0) 35%,
      rgba(110, 74, 208, 1) 100%
    ),
    url("../public/assets/hero2.jpg");
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}
* {
  box-sizing: border-box;
}
.h-vw {
  height: 100vh;
}
